{% extends 'basev2.html.twig' %}
{% block title %}
    Liste des bureaux
{% endblock %}
{% block contextual_menu %}
    <li class="nav-item d-none d-sm-inline-block">
        <a href="{{ path('desk_view')}}" class="nav-link"><i class="fa-solid fa-map-location-dot"></i> Retour au plan</a>
    </li>
{% endblock %}
{% block contentHeader %}
{% endblock %}

{% block body %}

    <div class="container">
        <table class="table table-borderless main_text_color">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nom</th>
                {% if is_granted('ROLE_ADMIN') %}<th class="mobile-hide" scope="col"></th>{% endif %}
            </tr>
            </thead>
            <tbody>
            {% for desk in desks %}
                <tr>
                    <th scope="row" class="center-item-table">{{ desk.id }}</th>
                    <td class="center-item-table">{{ desk.name }}</td>
                    {% if is_granted('ROLE_ADMIN') %}<td class="mobile-hide center-item-table" > <a href="{{ path('desk_qrcode', {id: desk.id}) }}"><button type="button" class="btn btn-primary" name="qrcode" value="{{ desk.id  }}"><i class="fa-solid fa-qrcode"  aria-hidden="true"></i> QR Code</button></a></td>{% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}

