{% extends 'basev2.html.twig' %}

{% block body_id 'user_password' %}

{% block title %}{{ 'mot_de_passe'|trans({}, 'messages') }}{% endblock %}

{% block contentHeaderTitle %}<h1 class="m-0">{{ 'mise_jour_du_mot_de_passe'|trans({}, 'messages') }}</h1>{% endblock %}
{% block breadcrumb %}{% endblock %}

{% block contextual_menu %}
    <li class="nav-item d-none d-sm-inline-block">
        <a href="{{ path('user_edit') }}" class="nav-link"><i class="fa fa-edit"></i> {{ 'edition_du_compte'|trans({}, 'messages') }}</a>
    </li>

{# show_source_code(_self) #}

{% endblock %}

{% block body %}
    <div class="container main_text_color">

        {{ form_start(form) }}
            {{ form_widget(form) }}

            <button type="submit" class="btn btn-primary">
                <i class="fa fa-save" aria-hidden="true"></i> {{ 'action.save'|trans }}
            </button>
        {{ form_end(form) }}
    </div>
{% endblock %}

